* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-style: normal;
}

body {
    background-color: #000000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 65px auto;
    width: 500px;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    

}

#numeros-sorteados {
    display: flex;
    justify-content: center;
    color: rgb(245, 245, 17);
    font-size: 50px;
    font-weight: 700;
    gap: 30px;
}

.numbers {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0 15px 0;
   gap: 19px
}

input {

    width: 200px;
    height: 50px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    outline: none;

    padding-left: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 47px;

    color: #FFFFFF;
}

span {
    color: #FFFFFF;
    font-size: 20px;
    
}

.btn {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

#btn-sorteio{
    width: 200px;
    height: 50px;

    display: block;

    background: #AEC346;
    box-shadow: 0px 18px 40px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 2px;
    color: #FFFFFF;
    cursor: pointer;
}

#btn-deletar {
    width: 200px;
    height: 50px;

    display: block;

    background: #d92929;
    box-shadow: 0px 18px 40px rgba(236, 41, 41, 0.35);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 2px;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}


@media (max-width: 450px) {
    
    img {
        width: 250px;
    }
    
    #numeros-sorteados {
        display: flex;
        flex-wrap: wrap;
        font-size: 30px;
        margin: 20px;
    }
    .numbers {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: 20px;
    }
}